<li class="app">

  <a class="logo" href="https://www.heroku.com/deploy?template={{repository}}">
    <img src="{{logo}}">
  </a>

  <div class="meta">

    <h2><a href="https://www.heroku.com/deploy?template={{repository}}">{{name}}</a></h2>

    <div class="drawer">

      {{#description}}
        <p>{{description}}</p>
      {{/description}}

      {{#repository}}
        <a href="{{repository}}" class="repository">{{repository}}</a>
      {{/repository}}

      {{#website}}
        <a href="{{website}}" class="website">{{website}}</a>
      {{/website}}

      <ul class="addons">
        {{#prices.plans}}
          <li>
            <a href="https://addons.heroku.com/{{name}}">
              <img src="{{logo}}">
              <span class="description">{{description}}</span>
              <span class="price">{{prettyPrice}}</span>
            </a>
          </li>
        {{/prices.plans}}
      </ul>

      <form class="deploy" method="GET" action="https://www.heroku.com/deploy">
        <input type="hidden" name="template" value="{{repository}}">
        <input type="submit" value="Deploy for {{prices.totalPrice}}">
      </form>

      <div class="output"></div>

    </div>

  </div>

</li>
