<h1>app.json Schema</h1>

<ul class="properties">
  {{#array}}
    <li class="property {{requiredOrOptional}}">
      <h2>{{name}}</h2>
      <p>{{type}}</p>
      <p>{{requiredOrOptional}}</p>
      <p>{{description}}</p>
      <p>{{example}}</p>
    <li>
  {{/array}}
</ul>
